body {
    background-color: steelblue;
}

#title {
    font-size: 2.5em;
    text-align: center;
    position: relative;
    top: .5em;
}

#interactionArea {
    margin: auto;
    text-align: center;
}

#dinoDesc {
    margin: auto;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
}

#dinoDesc > h2 {
    text-align: center;
}

#gallery {
    display: flex;
    justify-content: space-around;
}

#gallery > img:hover {
    cursor: pointer;
}